@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts CSS Classes */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-abril {
  font-family: 'Abril Fatface', serif;
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.font-nunito-bold {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}

.font-eb-garamond {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-style: italic;
}

.font-eb-garamond-400 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.font-fraunces {
  font-family: 'Fraunces', serif;
}

.font-fraunces-light {
  font-family: 'Fraunces', serif;
  font-weight: 300;
}

.font-fraunces-medium {
  font-family: 'Fraunces', serif;
  font-weight: 500;
}

.font-fraunces-semibold {
  font-family: 'Fraunces', serif;
  font-weight: 600;
}

.font-fraunces-bold {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

.font-poiret {
  font-family: 'Poiret One', sans-serif;
}

.font-fraunces-900 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.font-fraunces-900-italic {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-style: italic;
}

.font-niconne {
  font-family: 'Niconne', cursive;
}

.active {
  background-color: #bc9142;
  position: sticky;
  transition: all 300ms ease-in-out;
}

.background {
  background-position: 44% 34%;
}

.active-tab {
  color: #176b87;
  border-bottom-color: #176b87;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../public/Inno_Towers_carpark.jpg");
  background-size: cover;
  background-position: 70% 65%;
}

.gold_color {
  background-color: #bc9142;
  height: 1px;
  border: none;
}

/* #176B87 */
/* #393646 */
